Django==1.8.3
dj-database-url==0.3.0
whitenoise==2.0.3
psycopg2==2.6.1
requests==2.7.0
djangorestframework==3.2.2
gunicorn==19.3.0
pyyaml==3.11
python-social-auth==0.2.13
django-rest-swagger==0.3.4
django-cors-headers==1.1.0
