{
  "option_settings": [
    {
      "option_name": "DJANGO_SETTINGS_MODULE",
        "value": "config.settings.production"
    }
  ],
  "container_commands": {
    "01migrate": {
      "command": "docker exec `docker ps -a --no-trunc -q | head -n 1` python manage.py migrate --noinput  &>> /tmp/deploy.log",
      "leader_only": true
    }
  }
}
